.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  background-color: #C82D33;
}

::ng-deep .menu-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #E5E0E0;
}
