.row{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fil-col{
  width: 100%;
}

.div-button{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
