<div class="container">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-container">
    <div class="form-row">
      <mat-form-field appearance="fill" class="field-margin">
        <mat-label>Início</mat-label>
        <input matInput [matTimepicker]="startAtPicker" name="startAt"
               [(ngModel)]="newSchedule.startAt" required
               (ngModelChange)="onTimeChange($event)">
        <mat-timepicker #startAtPicker></mat-timepicker>
        <mat-timepicker-toggle [for]="startAtPicker" matSuffix></mat-timepicker-toggle>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Término</mat-label>
        <input matInput [matTimepicker]="endAtPicker" name="endAt"
               [(ngModel)]="newSchedule.endAt" readonly>
        <mat-timepicker #endAtPicker></mat-timepicker>
        <mat-timepicker-toggle [for]="endAtPicker" matSuffix></mat-timepicker-toggle>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select name="clientId" [(ngModel)]="newSchedule.clientId" required>
          <mat-option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="add-button">
        <button mat-mini-fab color="primary" type="submit" [disabled]="form.invalid" matTooltip="Incluir">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="main-content">
    <mat-card class="calendar-container">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
        <ng-container matColumnDef="startAt">
          <th mat-header-cell *matHeaderCellDef>Início</th>
          <td mat-cell *matCellDef="let schedule">{{schedule.startAt | date:'HH:mm a'}}</td>
        </ng-container>

        <ng-container matColumnDef="endAt">
          <th mat-header-cell *matHeaderCellDef>Término</th>
          <td mat-cell *matCellDef="let schedule">{{schedule.endAt | date:'HH:mm a'}}</td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let schedule">{{schedule.clientName}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let schedule">
            <button mat-mini-fab color="warn" matTooltip="Excluir" (click)="requestDelete(schedule)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButton></mat-paginator>
    </div>
  </div>
</div>
